#App {
  text-align: center;
}

#tonnetz-div {
  background-color: fuchsia;
  display: inline-block;
  font-size:0px;
}

#sound-on {
  width: 140px;
  height: 60px;
  display: block;
}

#sound-off {
  width: 140px;
  height: 60px;
  display: block;
}
