#App {
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: 0pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: fixed;
}

#tonnetz-div {
  background-color: black;
  display: inline-block;
  font-size:0px;
}

#sound-on {
  width: 140px;
  height: 60px;
  display: block;
}

#sound-off {
  width: 140px;
  height: 60px;
  display: block;
}
